.cards {
  --gf-playing-card-height: 18rem;
  --gf-playing-card-overlap: -6rem;

  display: flex;

  > *:not(:last-child) {
    margin-right: var(--gf-playing-card-overlap);
  }

  .cards__card {
    height: var(--gf-playing-card-height);
    position: relative;
    bottom: 0;
    transition: 0.1s;

    &:hover {
      bottom: var(--op-space-medium);
    }
  }

  &.cards--books {
    --gf-playing-card-height: 15rem;
  }

  &.cards--player {
    --gf-playing-card-height: 12rem;
    --gf-playing-card-overlap: -5rem;
  }
}