.feed {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

  .feed__responses {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--op-space-small);
    overflow: auto;

    .feed__response {
      width: 100%;
      padding-inline: var(--op-space-medium);
      display: flex;
      align-items: center;
      gap: var(--op-space-x-small);
    }
  }

  .feed__bubble {
    width: 100%;

    font-size: var(--op-font-small);

    padding: var(--op-space-small);
    border-radius: var(--op-radius-x-large);

    &.feed__bubble--player-action {
      width: auto;
      font-size: var(--op-font-medium);
      background-color: var(--op-color-primary-plus-five);
      color: var(--op-color-primary-on-plus-five);
    }

    &.feed__bubble--player-response {
      background-color: var(--op-color-alerts-warning-plus-five);
      color: var(--op-color-alerts-warning-on-plus-five-alt);
      box-shadow: var(--op-border-all) var(--op-color-alerts-warning-plus-four);
    }

    &.feed__bubble--game-response {
      background-color: var(--op-color-neutral-plus-max);
      color: var(--op-color-neutral-on-plus-max-alt);
      box-shadow: var(--op-border-all) var(--op-color-neutral-plus-seven);
    }
  }

  .feed__request-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--op-space-x-small);

    padding: var(--op-space-medium);
    border-radius: var(--op-radius-large);

    background-color: var(--op-color-primary-plus-six);
    color: var(--op-color-primary-on-plus-six);

    > .btn {
      grid-column: span 2;
    }
  }
}