.game {
  --gf-game-sidebar-width: 36rem;
  --gf-game-footer-height: 28rem;

  height: 100%;

  display: grid;
  grid-template-columns: 1fr min(var(--gf-game-sidebar-width), 40%);
  grid-template-rows: 1fr var(--gf-game-footer-height);

  overflow: hidden;

  .game__header {
    padding: var(--op-space-medium);

    .game__title {
      display: flex;
      align-items: center;
      gap: var(--op-space-x-small);
      font-size: var(--op-font-large);
      font-weight: var(--op-font-weight-medium);
  
      > a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--op-color-background-on);
      }
    }
  }
}

@media (width <= 768px) {
  .game {
    grid-template-columns: none;
    grid-template-rows: 2fr 1fr 1fr 4fr;
  }
}