.game {
  --gf-game-sidebar-width: 36rem;
  --gf-game-footer-height: 28rem;

  height: 100%;

  display: grid;
  grid-template-columns: 1fr min(var(--gf-game-sidebar-width), 40%);
  grid-template-rows: 1fr var(--gf-game-footer-height);

  .game__title {
    display: flex;
    align-items: center;
    gap: var(--op-space-x-small);

    > a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--op-color-background-on);
    }
  }
}