.game-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--op-space-medium);

  box-shadow: inset var(--op-border-all) var(--op-color-primary-plus-four);
  border-radius: var(--op-radius-large);

  background-color: var(--op-color-primary-plus-six);
  color: var(--op-color-primary-on-plus-six);

  .game-row__info {
    display: flex;
    gap: var(--op-space-medium);
  }

  .game-row__actions {
    display: flex;
    gap: var(--op-space-medium);
    justify-content: end;
  }

  &.game-row--header {
    background-color: var(--op-color-background);
    box-shadow: none;

    margin-top: var(--op-space-3x-large);
  }

  &.game-row--form {
    align-items: end;
    gap: var(--op-space-small);

    > * {
      flex: 1;
      padding-block: var(--op-space-small);
    }
  }

  &.game-row--accordion {
    display: block;

    summary {
      width: 100%;
    }
  }
}