.panel {
  --gf-panel-header-height: 5rem;

  display: grid;
  grid-template-rows: var(--gf-panel-header-height) 1fr;

  background-color: var(--op-color-white);

  overflow: hidden;

  .panel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--op-space-x-small);

    box-shadow: inset var(--op-border-top) var(--op-color-border);

    .panel__header-group {
      display: flex;
      align-items: center;
      gap: var(--op-space-small);
    }
  }

  .panel__content {
    overflow: hidden;
    &.panel__content--h-scroll {
      overflow-x: auto;
    }
  }

  &.panel--players {
    --gf-panel-header-height: 7rem;

    .panel__content {
      display: flex;
      flex-direction: column;
      gap: var(--op-space-medium);
      
      padding: var(--op-space-large);
    }
  }

  &.panel--feed {
    --gf-panel-header-height: 7rem;

    background-color: var(--op-color-primary-plus-eight);
    color: var(--op-primary-on-plus-eight);
    box-shadow: inset var(--op-border-right) var(--op-color-border);

    .panel__content {
      padding: var(--op-space-small);
    }
  }

  &.panel--hand {
    background-color: var(--op-color-neutral-plus-eight);
    box-shadow: inset var(--op-border-bottom) var(--op-color-border);

    .panel__content {
      padding: var(--op-space-medium);
    }
  }

  &.panel--books {
    background-color: var(--op-color-neutral-plus-eight);
    box-shadow: inset var(--op-border-width) var(--op-border-width) 0 0 var(--op-color-border);

    .panel__content {
      padding: var(--op-space-medium);
    }
  }
}