.stats {
  display: flex;
  flex-direction: column;
  padding-top: var(--op-space-3x-large);
  gap: var(--op-space-large);

  .stats__title {
    font-size: var(--op-font-large);
  }

  .stats__column-header {
    a {
      color: var(--op-color-primary-on-plus-six-alt);
      text-decoration: none;
    }
  }
}